{{> header }}
  <main id="main">
    <div class="container mb-40">
      <div class="mb-20">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="row">
        <div class="col-sm-6 mb-20">
          {{# page.metafield.hero }}
            <div class="mb-10">
              <img class="img-responsive" src="{{ page.metafield.hero.imgix_url }}?w=900">
            </div>
          {{/ page.metafield.hero }}
          <div class="font-30">{{ page.metafield.price.value }}</div>
          <div class="font-20">{{ page.metafield.beds.value }} Beds&nbsp;&nbsp;-&nbsp;&nbsp;{{ page.metafield.baths.value }} Baths&nbsp;&nbsp;-&nbsp;&nbsp;{{ page.metafield.sq_feet.value }} Sqft&nbsp;&nbsp;-&nbsp;&nbsp;Built {{ page.metafield.built.value }}</div>
        </div>
        <div class="col-sm-6">
          <div>{{{ page.content }}}</div>
          <div class="mb-20">
            <a href="/contact" class="btn btn-primary">Contact us about this listing!</a>
          </div>
          <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDr7gRsDPCn7v3tZ1jlD1_oOyiu9dg9M6s
              &q={{ page.metafield.address.value }}" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </main>
{{> footer }}